<ion-header *ngIf="hasLoaded">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{foro.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="hasLoaded">
  <ion-grid>
    <ion-col padding>
      <ion-item>
          <p style="font-size: 16px">{{foro.description}}</p>
      </ion-item>
      <ion-button *ngIf="isAMember" expand="full" shape="round">Desuscribirse</ion-button>
      <ion-button *ngIf="!isAMember" expand="full" shape="round">Suscribirse</ion-button>
      <p text-center>Usuarios en el foro: {{foro.members.length}}</p>
   </ion-col>
  </ion-grid>
  <ion-card *ngFor="let pregunta of foro.preguntas; index as i" padding  (click)="goToQuestion(i)">
    <h2 text-center>{{pregunta.title}}</h2>
      {{pregunta.text}}<br>
      <ion-grid>
        <ion-row>
          <ion-col>
            {{pregunta.user.username}}
          </ion-col>
          <ion-col>
            {{pregunta.published}}
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>
</ion-content>
