.banner{
  background-image: url(../../assets/background.jpg);
  img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      //border-radius: 50%;
  }
  text-align: center;
  ion-button{
      size: small;
      --background: #FCBA04;
      color: #54494B;
      font-weight :bold;
  }
  ion-card{
    --background: white;
  }
}