<ion-header>
  <ion-toolbar>
      <ion-title text-center>
          Sobre Nosotros
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-img src="/assets/photo_2017-10-02.jpg"></ion-img>
      <h1 text-center><b> Nuestra filosofía e historia </b></h1>
      <h3 text-center><i> Queríamos que existiera una asociación que realizara talleres formativos y proyectos
          informáticos en nuestra escuela. </i>
          <ion-icon name="quote" size="large"></ion-icon>
      </h3>
      <p padding> Core Dumped es fundada el 1997 como un espacio en el que los alumnos de la Escuela Universitaria de
          Informática (antiguo nombre de la ETSI
          de Sistemas Informáticos) tenían a su disposición material informático más allá de los laboratorios; todavía
          no era común tener ordenador en casa.
          Se ubicaba bajo el actual auditorio y esa sala ahora mismo es la oficina del servicio de mantenimiento de la
          escuela.<br><br>

          No tenemos mucha información sobre las actividades de la asociación durante sus primeros 15 años de
          actividad, pero nuestra nueva historia surge en
          octubre de 2016.<br><br>

          En el curso 2016/17, un grupo de alumnos nos propusimos que existiera <b> una asociación que realizara
              talleres formativos y proyectos informáticos </b>
          en nuestra escuela, nos parecía extraño que no hubiera ninguna asociación así. Había asociaciones cuyo
          objetivo era ese, pero no considerábamos que lo cumplieran.<br><br>

          Decidimos aprovechar nuestros contactos con la dirección de la escuela para informarnos de qué teníamos que
          hacer y vimos que Core Dumped estaba en un
          estado cercano a la extinción. Su junta directiva se había graduado y no hubo relevo generacional. Lo mejor
          que podíamos hacer era resucitarla.<br><br>

          Logramos contactar con el anterior presidente, que tuvo que viajar hasta Madrid para firmar el acta de
          renovación de Junta Directiva. Core Dumped
          volvía a caminar y no queríamos que parase, por ello era necesario establecer una filosofía que tuviera
          altas probabilidades de dar pie a una asociación
          exitosa.<br><br>

      <h1 text-center><b> La filosofía de Core Dumped </b></h1>
      <h3 text-center><i> Core Dumped es un espacio joven, abierto y gratuito que incentiva el aprendizaje y el
          desarrollo de proyectos más allá de lo académico. </i>
          <ion-icon name="quote" size="large"></ion-icon>
      </h3>
      <p padding> Beneficiarse de una asociación es fácil, pero mover esa asociación requiere un compromiso que no
          todo el mundo tiene. Veíamos que algunas asociaciones
          incorporaban socios sin más criterio que pagar la cuota anual, sus actividades escaseaban y muchas acaban
          disolviéndose. «Si pago una cuota, me tienen
          que ofrecer algo», esa forma de pensar no iba con nosotros. ¿y si le damos una vuelta a esa forma de
          moverse?<br><br>

          Para formar parte de Core Dumped sólo tienes que rellenar un formulario de contacto para recibir las
          noticias, pasarte a conocernos, participar en
          algún proyecto, exponer tus proyectos personales… <b> Core Dumped es un espacio joven, abierto y gratuito
              que incentiva el aprendizaje y el desarrollo de proyectos más allá de lo académico. </b> Todo el mundo
          es bienvenido.<br><br>

          Ahora bien, no serás socio, serás un «suscrito». Una membresía que te permite disfrutar de la asociación
          pero que no te da voto en las asambleas ni te
          permite presentarte a las elecciones a junta directiva.<br><br>

          <b> Core Dumped, con su filosofía actual, busca el desarrollo de habilidades y factores diferenciales para
              sus miembros. </b> Sin embargo, para que se vean
          cumplidos estos objetivos, son necesarios voluntad e interés por parte de los miembros de la asociación. Los
          miembros con el estatus de socio son
          aquellos que han recibido el reconocimiento por su experiencia o por su actitud (siendo más reconocido lo
          segundo que lo primero, pues la experiencia
          se adquiere).<br><br>

          Para ser socio tienes que haber mostrado un nivel de conocimiento o de compromiso que merezca ese
          reconocimiento.<b> Un auténtico socio de Core Dumped es
              capaz de ayudar en la gestión de la asociación, formar parte de un proyecto o transmitir conocimiento a
              sus compañeros. </b> Si cumples esos criterios, serás
          promocionado a socio en asamblea de socios.<br><br></p>

      <h1 text-center><b> ¿Por qué diferenciar entre socios y suscritos? </b></h1>
      <p padding> Hay varias razones que nos hicieron decantarnos por este sistema:<br><br>

          <ion-icon name="arrow-dropright"></ion-icon>
          Creemos que quienes marcan la diferencia deben ser recompensados. Ese reconocimiento se convierte en un
          objetivo para los que entran como suscritos a la asociación.<b> Recibir el estatus de socio por promoción es
              motivo de orgullo </b> y al mismo tiempo una responsabilidad para mantener esa actitud.<br><br>
          <ion-icon name="arrow-dropright"></ion-icon>
          <b> La transmisión de conocimiento </b> es un valor importante en esta asociación, las personas con
          experiencias y
          valor que aportar a sus compañeros deben ocupar
          la primera línea y organizar talleres y charlas.<br><br>
          <ion-icon name="arrow-dropright"></ion-icon>
          <b> El autoaprendizaje </b> nos parece más importante que la experiencia, algunos de nuestros socios son
          alumnos de
          primero que han comenzado su andadura en la
          informática, pero queremos que algún día sean ellos quienes den los talleres y charlas de la asociación. Es
          importante que ocupen el mismo estatus que
          los más experimentados.<br><br>
          <ion-icon name="arrow-dropright"></ion-icon>
          <b> Las asambleas de socios son un órgano de decisión importante. </b> La diversidad de opinión es
          importante para
          nosotros, pero no creemos adecuado que quienes
          no hayan demostrado merecerlo formen parte de un órgano de decisión.<br><br>
          <ion-icon name="arrow-dropright"></ion-icon>
          <b> El relevo generacional es crucial </b> , es por eso que los socios de Core Dumped son personas que
          consideramos
          aptas para ocupar puestos de responsabilidad en
          la asociación. Los socios pueden ver de cerca cómo se gestiona la asociación y en ocasiones colaboran en
          estas tareas.<br><br>

          Core Dumped pretende ser una “élite” abierta de estudiantes con voluntad de aprendizaje y de compartir
          conocimiento. Queremos ser más, pero queremos ser
          cada vez mejores. Calidad y cantidad de la mano.
      </p>

      <h1 text-center><b> Si es gratuito ¿Cómo os financiais? </b></h1>
      <p padding> Core Dumped tiene la posibilidad de financiar sus proyectos a través de las subvenciones de la UPM,
          pero
          esta financiación es exclusivamente
          orientada a proyectos y actividades muy bien documentadas y justificadas.<br><br>

          También podríamos cobrar una cuota anual a los socios, pero eso nos convertiría en un espacio exclusivo para
          quienes quieran pagar ese precio y
          no queremos recaudar un dinero a cambio posibles futuras actividades.<br><br>
      </p>
      <h3 text-center><i> Las actividades de Core Dumped suelen costar 1€ </i>
          <ion-icon name="quote" size="large"></ion-icon>
      </h3>
      <p padding> ¡Oh, la palabra mágica «actividades»! Ahí nos dimos cuenta. Las actividades de Core Dumped suelen
          costar 1€.
          Se trata de un precio simbólico para comprometer a los interesados a asistir, dar un valor y financiar los
          pocos gastos que tiene la asociación.<br><br>
          «¿Y de dónde sale ese pedazo de rack?» La asociación acepta donaciones de material de algunas empresas. De
          hecho, tenemos una <a href="#"> carta a los reyes magos </a>. Lo que hace 10 años era un servidor potente
          para una aseguradora hoy es un servidor muy potente para una asociación universitaria.</p>

      <h5 padding><i> ¿No te ha quedado algo claro? </i><br><br>
       Escríbenos a coredumped@etsisi.upm.es </h5>

  </ion-card>
</ion-content>

