<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Crear foro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="sendData(form)">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h2>Herramienta de creación de foros de Core Dumped</h2>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="title" type="title" placeholder="Nombre del foro" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="Descripción del foro" name="description" type="descritcion" ngModel required></ion-textarea>
            </ion-item>
          </div>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                {{err}}
              </div>
            </ion-col>
            <div padding>
              <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Crear foro</ion-button>
            </div>
          </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
