<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="goToForos()">
    <ion-grid>
      <h2 text-center>Foros</h2>
      <ion-card-content text-center>
        Foros de proyectos que está organizando CoreDumped. ¡Pásate a echar un vistazo!
      </ion-card-content>
    </ion-grid>
  </ion-card>
  <ion-card (click)="goToNevera()">
      <ion-grid>
        <h2 text-center>Nevera</h2>
        <ion-card-content text-center>
          Acceso directo a la nevera de Core, ¡Un supermercado en la escuela!
        </ion-card-content>
      </ion-grid>
    </ion-card>

</ion-content>
